@{
    ViewData["Title"] = "Wootrix 2.0 Home Page";
}

<!-- Header 1st section -->
<header class="top clearfix">
    <div class="container clearfix">
        <div class="logo-bar">
            <figure class="logo-container">
                <a href="#">
                    <img src="~/images/logo.png" alt="Wootrix Logo" class="img-responsive" />
                </a>
            </figure>
        </div>

        <div class="span6 right">
            <div class="login-box clearfix">
                <p class="msgError"></p>
                <span class="sign-in">Entrar</span>
                <form name="userLogin" id="userLogin" action="http://wootrix.com/index.php/wootrix-user-login" method="POST">
                    <div id="login-detail-box" class="login-detail-box">
                        <div class="input-box">
                            <input type="email" placeholder="Email" name="userEmailLogin" />
                        </div>
                        <div class="input-box">
                            <input type="password" placeholder="Password" name="passwordLogin" />
                            <a id="forgotPass" class="forgot-password" href="#"></a>
                            <input type="hidden" name="loginHidden" value="saveLoginHidden" />

                            <input type="hidden" name="deepMagazineCode" id="deepMagazineCode" />
                            <input type="hidden" name="deepMagazineId" id="deepMagazineId" />
                            <input type="hidden" name="deepArticleId" id="deepArticleId" />
                            <input type="hidden" name="deepAdId" id="deepAdId" />
                            <input type="hidden" name="deepShowInputDialog" id="deepShowInputDialog" />

                            <input type="submit" value="OK" />
                        </div>

                        <div class="arrow-up"></div>
                    </div>
                </form>

                <div id="forgotBox" class="login-detail-box">
                    <div class="input-box">
                        <form action="http://wootrix.com/index.php/forgotPassword" method="POST">
                            <input class="forgotEmail" type="email" placeholder="Email" name="forgetEmail" />

                            <input type="hidden" name="loginHidden" value="websiteForm" />
                            <input type="submit" value="OK" />
                        </form>
                    </div>
                    <div class="arrow-up"></div>
                </div>

            </div>

        </div>

    </div>

</header>

<!-- Banner -->
<section id="banner">

    <!-- login code Begin -->
    <div class="container clearfix">
        <div class="span7 left">
            <figure class="main-home-image">
                <img src="~/images/website_images/home-screen.png" alt="" />
            </figure>
        </div>
        <div class="span5 right">
            <div class="social-login-cont">
                <div class="signin-social">
                    <h3>Entrar com</h3>
                    <div class="social-icons clearfix">
                        <ul>
                            <li class="fb"><a href="https://www.facebook.com/v2.12/dialog/oauth?client_id=1627701464153107&amp;state=f00046d081144491894cf1e6024f52b1&amp;response_type=code&amp;sdk=php-sdk-5.6.2&amp;redirect_uri=http%3A%2F%2Fwww.wootrix.com%2Findex.php%2FfbCallback&amp;scope=email">Facebook</a></li>
                            <li class="twitter"><a href="http://wootrix.com/index.php/website/login_twitter/index">Twitter</a></li>
                            <li class="linkedin"><a href="http://wootrix.com/index.php/website/loginWithLinkedIn">linkedin</a></li>
                            <li class="google"><a href="https://accounts.google.com/o/oauth2/auth?response_type=code&redirect_uri=http%3A%2F%2Fwootrix.com%2Findex.php%2FgCallback&client_id=181469443324-j5neoccka33afjuvm4gnu2itnn07oo0n.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email&access_type=offline&approval_prompt=force&state=+-++-++-++-+">google</a></li>
                        </ul>
                    </div>
                    <div class="login-divider">
                        <span>ou</span>
                    </div>
                </div>

                <form name="userReg" id="userReg" action="http://wootrix.com/index.php/wootrix-user-registration" method="POST">
                    <div class="register-form">
                        <h4>Welcome</h4>
                        <span id="errorValue"></span>
                        <span style="text-align: center;display: block;color: green;"></span>
                        <div class="input-box">
                            <input type="text" placeholder="Name" name="userName" value="" />
                        </div>
                        <div class="input-box">
                            <input type="email" placeholder="Email" name="userEmail" value="" />
                        </div>
                        <div class="input-box">
                            <input type="password" placeholder="Password" name="password" id="password" />
                        </div>
                        <div class="input-box">
                            <input type="password" placeholder="Confirm Password" name="confirmPass" />
                        </div>
                    </div>

                    <div class="btn-box clearfix">
                        @*<input type="hidden" name="userRegHidden" value="saveReg" />
                            <input type="submit" value="Sign up">*@
                        <a class="register-bttn" href="#">Registrar</a>
                    </div>
                </form>

                <div class="register-form condition">
                    <div class="input-box">
                        <small>By Signing up, you are agreeing to Wootrix <a href="http://wootrix.com/index.php/wootrix-terms-services" target="_blank">Terms and Privacy</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- login code End -->
    <!-- <a href="#one" class="more scrolly">Learn More</a>	-->
</section>

<!-- One -->
<section id="one" class="wrapper style1 special">
    <div class="inner">
        <header class="major">
            <h2>A maneira inteligente de se encontrar e distribuir conhecimento.</h2>
        </header>
    </div>
</section>

<!-- Two -->
<section id="two" class="wrapper alt style2">
    <section class="spotlight">
        <div class="image"><img src="~/images/pic01.jpg" alt="Example Picture of Application 1" /></div><div class="content">
            <h2>
                Customize<br />
                sua publicação
            </h2>
            <p>Determine os tópicos e os idiomas de seu interesse e nossos algoritmos montam uma revista digital gratuita sob medida para você.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="~/images/pic02.jpg" alt="Example Picture of Application 2" /></div><div class="content">
            <h2>
                Plataforma de curadoria,<br />
                com aparência amigável ao usuário.
            </h2>
            <p>Através de um layout moderno, bonito e de fácil leitura, a plataforma direciona você a conteúdos relevantes minuciosamente selecionados.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="~/images/pic03.jpg" alt="Example Picture of Application 3" /></div><div class="content">
            <h2>
                Revistas Customizadas<br />
            </h2>
            <p>
                Você poderá ser convidado a ler revistas de empresas, universidades,entidades e etc, ter acesso a um canal 24x7 contendo notícias, cases de sucesso, catálogos de produtos, lançamentos e muito mais. Sempre grátis para o leitor.
            </p>
        </div>
    </section>
</section>

<!-- Three -->
<section id="three" class="wrapper style3 special">
    <div class="inner">
        <header class="major">
            <h2>Preços e Planos</h2>
            <p><h1>Revistas Customizadas</h1></p>
        </header>
        <ul class="features">
            <li class="icon icon-money">
                <h3>Pacote Bronze</h3>
                <p> até 100 usuários - <strong>R$399,00</strong> por mês. Fale conosco no chat ao lado ou Através do email <a href="mailto:wootrix@wootrix.com"><strong>wootrix@wootrix.com</strong></a></p>
            </li>
            <li class="icon icon-money">
                <h3>Pacote Prata</h3>
                <p> até 200 usuários - <strong>R$778,00</strong> por mês. Fale conosco no chat ao lado ou Através do email <a href="mailto:wootrix@wootrix.com"><strong>wootrix@wootrix.com</strong></a></p>
            </li>
            <li class="icon icon-money">
                <h3>Pacote Ouro</h3>
                <p> até 300 usuários - <strong>R$1137,00</strong> por mês. Fale conosco no chat ao lado ou Através do email <a href="mailto:wootrix@wootrix.com"><strong>wootrix@wootrix.com</strong></a></p>
            </li>
            <li class="icon icon-money">
                <h3>Precisa de mais usuários</h3>
                <p>Fale conosco no chat ao lado ou Através do email <a href="mailto:wootrix@wootrix.com"><strong>wootrix@wootrix.com</strong></a></p>
            </li>
        </ul>
    </div>
</section>

<!-- CTA -->
<section id="cta" class="wrapper style4">
    <div class="inner">
        <header>
            <a href="https://itunes.apple.com/lc/app/wootrix/id1034925784?mt=8">
                <img class="img" src="~/images/App_Store_Badge_PTBR.png" alt="App Store" />
            </a>
        </header>
        <header>
            <a href="https://play.google.com/store/apps/details?id=com.ta.wootrix">
                <img class="img" src="~/images/google-play-badge-PTBR.png" alt="Google Play" />
            </a>
        </header>
        <header>
            <a href="#">
                <img class="img" src="~/images/Web_Badge_PTBR.png" alt="Internet" />
            </a>
        </header>
    </div>
</section>