@{
    ViewData["Title"] = "Privacy Policy";
}
@using Microsoft.AspNetCore.Http;
<h2 style="color:@Context.Session.GetString("CompanyMainFontColor") !important">@ViewData["Title"]</h2>

<p>Use this page to detail your site's privacy policy.</p>
