@{
    ViewData["Title"] = "Privacy Policy";
}
@using Microsoft.AspNetCore.Http;
<h2 style="color:@Context.Session.GetString("CompanyMainFontColor") !important">@ViewData["Title"]</h2>

We’ve done our best to to keep our privacy policy simple & easy to understand. Our intention is to improve your news experience at the same time that we maintain your data secure.

Please read carefully this privacy policy. It applies to all interactions you have with Wootrix’s products and services.


What type of Info we collect and How we use it?


Information you provide when you sign up for Wootrix, like your name, email and other personal information. This may be entered directly, or submitted through the account you use to login (i.e. your Facebook, Google+, Twitter or Linkedln account).


Cookies - we use cookies to keep you logged into Wootrix when you use our web services.


Log information - when you access Wootrix through a browser or via one of Wootrix applications, we may automatically log the browser version, browser language, Internet Protocol address, date and time of your request, and what type of device you are using.


User communications - when you send us email or other communications, we may keep your communications on file in order to respond to you and improve our services and products per your feedback.


Unique device identifier - When you use any of the Wootrix apps, we use the UDID of your device to give you persistent settings and service - this number normally cannot be used to identify the user and is not connected to any personal information, other than the information you explicitly provide to us.


Advertising identifier - On some mobile platforms, Wootrix uses the advertiser identifier instead of the UDID, for example on Android, we use the Android Advertising ID. We used this to provide statistics and analytics.


How Wootrix Share your Info?


We only shares information with other services and companies in the following scenarios:


You have explicitly given us consent to share information with 3rd parties.

The information is provided to our subsidiaries or affiliated companies.

The information is provided to trusted service providers with the intention that the 3rd parties requires this information to perform a service for Wootrix. We require these 3rd parties to comply with the Wootrix privacy policies.

We are legally required to disclose specific information to 3rd parties, including government agencies. Wootrix will only provide the information that is explicitely required and will not volunteer information when not legally obligated.

Wootrix reasonably believes that disclosing the information is necessary to detect fraud, security or technical issues and prevent harm to Wootrix or its users.


Does Wootrix has Security Precautions?


Yes, we takes reasonable precautions to protect user data, including appropriate cryptographic procedures, including hashing password data and encrypting sensitive data during transmission. Service partners and 3rd parties that info is shared with are screened to be sure they also take commercially acceptable precautions to protect your data. However, Wootrix can make no guarantee on your data's security in our or our partners' systems.


Do you have any questions or concerns?


Our team is 100% committed to maintaing your privacy and providing our service in a useful, comfortable and secure manner. If you have any questions or concerns about our privacy policy, or any other thing, contact us at

info@wootrix.com

