@model ErrorViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Error2"];
}

<h1 class="text-danger">@Localizer["Oh damn - it's an error."]</h1>
<h2 class="text-danger">@Localizer["Error2"]</h2>
