@model WootrixV2.Models.SegmentArticle

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";
}

<h2>Edit</h2>

<h4>SegmentArticle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Order" class="control-label"></label>
                <input asp-for="Order" class="form-control" />
                <span asp-validation-for="Order" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticleContent" class="control-label"></label>
                <input asp-for="ArticleContent" class="form-control" />
                <span asp-validation-for="ArticleContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticleUrl" class="control-label"></label>
                <input asp-for="ArticleUrl" class="form-control" />
                <span asp-validation-for="ArticleUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmbedVideoUrl" class="control-label"></label>
                <input asp-for="EmbedVideoUrl" class="form-control" />
                <span asp-validation-for="EmbedVideoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="Tags" class="form-control" />
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AllowComments" class="control-label"></label>
                <input asp-for="AllowComments" class="form-control" />
                <span asp-validation-for="AllowComments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishFrom" class="control-label"></label>
                <input asp-for="PublishFrom" class="form-control" />
                <span asp-validation-for="PublishFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishTill" class="control-label"></label>
                <input asp-for="PublishTill" class="form-control" />
                <span asp-validation-for="PublishTill" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

