/*@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,600italic,700,800,800italic");
@import url(font-awesome.min.css);*/


.body-content {
    color: #CCC;
}

input::-webkit-input-placeholder {
    color: transparent !important;
}

input:focus::-webkit-input-placeholder {
    color: #888 !important;
}


.social-login-cont {
    width: 28em;
    margin: auto;
}

.span7, .span5 {
    width: 50%;
    display:flex;
}



input[type="file"] {
    border-style: solid;
    border-color: #bfbfc0;
    /*color: #999;*/
    background: #fff;
    width: 100%;
    padding: 10px;
    height: 50px;
    font-size: 13px;
}

.navbar-inverse {
    background-color: #fff;
}

.navbar {
    margin-bottom: 0px;
    border: none;
}

#logoutForm {
    margin: 0 0 0 0 !important;
}

.navbar-fixed-top {
    position: relative;
}

.nav a, .nav .btn {
    /*color: #00a1e5;*/
    font-size: 16px !important;
    font-weight: bold !important;
    font-style: italic !important;
    padding: 0 25px 0 0;
    cursor: pointer;
    margin: 15px 0 0;
}

.nav .btn {
    height: 2.5em;
    letter-spacing: 1.5px;
}

.navbar-nav > li > a {
    padding-top: 10px !important;
}

.sign-in {
    background: url(../images/website_images/sprite-image.png) no-repeat 49px -238px !important;
}

.login-divider span {
    font-size: 20px !important;
    border: 0px solid #fff !important;
}


.logo-container img {
    height: auto !important;
}

.logo-container {
    margin-top: 15px;
}

h1, h2, h3, h4, h5, h6 {
    text-shadow: 0px 3px 2px rgba(128, 128, 128, 1);
    /*font-weight: 800 !important;*/
    /*letter-spacing: 0.225em !important;*/
    line-height: 1em !important;
    margin: 0 0 1em 0 !important;
    text-transform: none !important;
}

#CompanyTextMain {
    font-size: 2em;
    line-height: 1.75em;
    font-weight:900;
}

#CompanyTextSecondary {
    font-size: 1.3em;
    line-height: 1.75em;
    font-weight: 900;
}

#one header {
    border: none;
}

.headerbar {
    max-width: none !important;
    width: 100% !important;
}

header.major h2, header.major h3, header.major h4, header.major h5, header.major h6 {
    border-bottom: solid 2px #fff;
    display: inline-block;
    padding-bottom: 1em;
    position: relative;
}

.major {
    background: none;
}

body {
    background: #2e3842;
    color: #fff;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 15pt;
    font-weight: 400;
    letter-spacing: 0.075em;
    line-height: 1.65em;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#bannerWootrix {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    cursor: default;
    min-height: 35em;
    overflow: hidden;
    position: relative;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/banner.jpg");
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/banner.jpg");
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/banner.jpg");
    background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/banner.jpg");
    height: 92vh;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 4s; /* Opera < 12.1 */
    animation: fadein 4s;
}


#banner {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    cursor: default;
    min-height: 35em;
    overflow: hidden;
    position: relative;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vh;
    z-index: -1;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Internet Explorer */
/*@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}*/

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
