container_commands :
  00-createpath :
    command : mkdir AspNetCoreWebApps
    cwd: "C:/inetpub/"
    ignoreErrors : true
    waitAfterCompletion: 5
  01-createpath2 :
    command : mkdir app
    cwd : "C:/inetpub/AspNetCoreWebApps"
    ignoreErrors: true
    waitAfterCompletion: 5
  02-createpath3:
    command : mkdir wwwroot
    cwd: "C:/inetpub/AspNetCoreWebApps/app"
    ignoreErrors : true
    waitAfterCompletion: 5
  03-createpath4:
    command : mkdir images
    cwd: "C:/inetpub/AspNetCoreWebApps/app/wwwroot"
    ignoreErrors : true
    waitAfterCompletion: 5
  04-createpath5:
    command : mkdir Uploads
    cwd: "C:/inetpub/AspNetCoreWebApps/app/wwwroot/images"
    ignoreErrors : true
    waitAfterCompletion: 5
  05-createpath6:
    command : mkdir images
    cwd: "C:/inetpub/AspNetCoreWebApps/app/wwwroot/images/Uploads"
    ignoreErrors : true
    waitAfterCompletion: 5
  06-changeperm :
    command : 'icacls "C:\\inetpub\\AspNetCoreWebApps\\app\\wwwroot\\images\\Uploads" /grant "Everyone:(OI)(CI)F"'
    waitAfterCompletion: 5