 container_commands:
  createpath1Images:
    command : mkdir images
    cwd: "C:/inetpub/AspNetCoreWebApps/app/wwwroot/images"
    ignoreErrors : true
    waitAfterCompletion: 5
  createpath2Uploads:
    command : mkdir Uploads
    cwd: "C:/inetpub/AspNetCoreWebApps/app/wwwroot/images/Uploads"
    ignoreErrors : true
    waitAfterCompletion: 5
  createpath3Articles:
    command : mkdir Articles
    cwd: "C:/inetpub/AspNetCoreWebApps/app/wwwroot/images/Uploads/Articles"
    ignoreErrors : true
    waitAfterCompletion: 5
  changeperm1:
    command : "icacls C:\\inetpub\\AspNetCoreWebApps\\app\\wwwroot\\images /grant \"IIS AppPool\\DefaultAppPool:(OI)(CI)F\""
    waitAfterCompletion: 5
  changeperm2:
    command : "icacls C:\\inetpub\\AspNetCoreWebApps\\app\\wwwroot\\images\\Uploads /grant \"IIS AppPool\\DefaultAppPool:(OI)(CI)F\""
    waitAfterCompletion: 5
  changeperm3:
    command : "icacls C:\\inetpub\\AspNetCoreWebApps\\app\\wwwroot\\images\\Uploads\\Articles /grant \"IIS AppPool\\DefaultAppPool:(OI)(CI)F\""
    waitAfterCompletion: 5
  changeperm4:
    command : "icacls C:\\inetpub\\AspNetCoreWebApps\\app\\wwwroot\\images /grant \"DefaultAppPool:(OI)(CI)F\""
    waitAfterCompletion: 5
  changeperm5:
    command : "icacls C:\\inetpub\\AspNetCoreWebApps\\app\\wwwroot\\images\\Uploads /grant \"DefaultAppPool:(OI)(CI)F\""
    waitAfterCompletion: 5
  changeperm6:
    command : "icacls C:\\inetpub\\AspNetCoreWebApps\\app\\wwwroot\\images\\Uploads\\Articles /grant \"DefaultAppPool:(OI)(CI)F\""
    waitAfterCompletion: 5