commands :
    00-createpath :
      command : mkdir inetpub
      cwd: "C:/inetpub"
      ignoreErrors : true
    01-createpath :
      command : mkdir wwwroot
      cwd: "C:/inetpub/wwwroot"
      ignoreErrors : true
    02-createpath2 :
      command : mkdir images
      cwd : "C:/inetpub/wwwroot/images"
      ignoreErrors: true
    03–changeperm :
      command : "icacls C:\\inetpub\\wwwroot\\images /grant DefaultAppPool:(OI)(CI)F"