@model IEnumerable<WootrixV2.Models.CompanySegment>

@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http;
@using System.Security.Claims
@using WootrixV2.Data;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";
    var _companyName = UserManager.GetUserAsync(User).GetAwaiter().GetResult().companyName;
}


<div class="articleBackButtonContainer">
    <a asp-controller="Company" asp-action="Home" asp-route-id="@_companyName">
        <button class="articleBackButton button">
            <span class="glyphicon glyphicon-menu-left"></span>
            Home
        </button>
    </a>
</div>

<table class="table searchHeadTable">
    <thead>
        <tr>
            <th class="magazine-header-text">
                <h2>Magazines</h2>
                <div class="search">
                    <form asp-controller="CompanySegments" asp-action="UserSegmentSearch">
                        <p>
                            <input class="search-string" type="text" name="SearchString" title="Search String">
                            <input class="search-submit" type="submit" value="Search" />
                        </p>
                    </form>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>

            @foreach (var item in Model)
                {
            <td class="magazine" @*style="border:4px solid @item.ThemeColor;  background:@item.StandardColor;" *@>
                <a asp-controller="CompanySegments" asp-action="ArticleList" asp-route-id="@item.Title">
                    <div class="magazine-pic">
                        @{
                                                var fn = _companyName + "_" + item.CoverImage;
                        }
                        <img src="~/images/Uploads/@fn" />
                    </div>
                    <div class="magazine-text">
                        <div class="magazine-text-title">
                            @item.Title
                        </div>
                    </div>
                </a>
            </td>
                            }
        </tr>
    </tbody>
</table>